<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>
<body>
<div>
    Username:<input type="text" placeholder="Enter user name" ng-model="uname"/><br/><br/>
    Password:<input type="password" placeholder="Enter password" ng-model="upwd"/><br/><br/>
    <button ng-click="getData()" align="right">click me</button>
    Newuser<a href="index.html" >Register</a>
</div>
</body>
</html>